@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
}

/* VARIABLES */
:root {
  --font-size: 18px;
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --white-text: hsl(0, 100%, 100%);
  --header-outline: hsl(217, 16%, 45%);
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
  color: var(--white-text);
  background: linear-gradient(var(--radial-gradient));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 700px;
  height: 9rem;
  border: 3px var(--header-outline) solid;
  border-radius: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: calc(1.8 * (var(--font-size)));
  margin: 1rem;
}

.score-container {
  height: 7rem;
  width: 7rem;
  background-color: var(--white-text);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.score-text {
  color: var(--score-text);
  font-size: var(--font-size);
  text-transform: uppercase;

  letter-spacing: 2px;
}

.score-result {
  color: var(--dark-text);
  font-size: calc(3.5 * (var(--font-size)));
}

main {
  height: 27rem;
  /* width: 30rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-stage {
  position: relative;
  /* margin: 8rem 0; */
  /* height: 24rem; */
}

.triangle-img {
  height: 12rem;
}

.symbol-container {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.inner-circle {
  background-color: var(--white-text);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  background: linear-gradient(var(--paper-gradient));
}

.top-left {
  top: -65px;
  left: -65px;
}

.scissors {
  background: linear-gradient(var(--scissors-gradient));
}

.top-right {
  top: -65px;
  right: -65px;
}

.rock {
  background: linear-gradient(var(--rock-gradient));
}

.bottom-center {
  bottom: -65px;
  transform: translateX(-50%);
  left: 50%;
}

.rules-btn {
  text-transform: uppercase;
  width: 8rem;
  padding: 1rem;
  border: 2px var(--white-text) solid;
  border-radius: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.duel-stage {
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picking-container {
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  flex-wrap: nowrap;
  width: 13rem;
}

.picked-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 1rem;
  font-size: var(--font-size);
}

.symbol-placeholder {
  height: 100px;
  width: 100px;
  margin: 15px;
  border-radius: 50%;
  background-color: var(--dark-text);
}

.results-container {
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.result-info {
  text-transform: uppercase;
  font-size: calc(2.5 * (var(--font-size)));
}

.play-again-btn {
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  background-color: var(--white-text);
  color: var(--dark-text);
  border-radius: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}
