@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* ---------- RESET ---------- */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

/* ---------- VARIABLES ---------- */
:root {
  --font-size: 18px;
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --white: hsl(0, 100%, 100%);
  --header-outline: hsl(217, 16%, 45%);
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  --symbol-size: 120px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  background: linear-gradient(var(--radial-gradient));
  background-repeat: no-repeat;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
  color: var(--white);
  text-transform: uppercase;
}

/* ---------- MODAL WINDOW ---------- */
.modal-box {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

.modal-header {
  color: var(--dark-text);
  font-size: calc(2 * var(--font-size));
}

.modal-rules-img {
  width: auto;
  height: 40%;
}

/* ---------- HEADER SECTION ---------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  height: 9rem;
  border: 3px var(--header-outline) solid;
  border-radius: 10px;
}

.score-container {
  height: 7rem;
  width: 7rem;
  background-color: var(--white);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.score-text {
  color: var(--score-text);
  font-size: var(--font-size);
  letter-spacing: 2px;
}

.score-result {
  color: var(--dark-text);
  font-size: calc(3.5 * (var(--font-size)));
}

/* ---------- MAIN SECTION ---------- */
main {
  min-height: 24rem;
  width: 90%;
  max-width: 800px;
}

/* ---------- SELECTION STAGE ---------- */
.selection-stage {
  position: relative;
  max-width: 90%;
}

.triangle-img {
  height: 10rem;
  max-height: 30rem;
  width: 100%;
}

.symbol-container {
  height: var(--symbol-size);
  width: var(--symbol-size);
  border-radius: 50%;
  cursor: pointer;
}

.selection-stage .symbol-container {
  position: absolute;
}

.inner-circle {
  background-color: var(--white);
  height: calc(0.75 * var(--symbol-size));
  width: calc(0.75 * var(--symbol-size));
  border-radius: 50%;
}

#paper {
  background: linear-gradient(var(--paper-gradient));
}

.top-left {
  top: calc(-0.5 * var(--symbol-size));
  left: calc(-0.5 * var(--symbol-size));
}

#scissors {
  background: linear-gradient(var(--scissors-gradient));
}

.top-right {
  top: calc(-0.5 * var(--symbol-size));
  right: calc(-0.5 * var(--symbol-size));
}

#rock {
  background: linear-gradient(var(--rock-gradient));
}

.bottom-center {
  bottom: calc(-0.5 * var(--symbol-size));
  transform: translateX(-50%);
  left: 50%;
}

/* ---------- DUEL STAGE ---------- */
.duel-stage {
  min-height: 24rem;
  width: 100%;
}

.picking-container {
  min-height: 15rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picked-item {
  flex-wrap: nowrap;
}

.picked-text {
  font-weight: 600;
  padding: 1rem 0;
  font-size: calc(0.8 * (var(--font-size)));
}

.symbol-placeholder {
  height: 90px;
  width: 90px;
  margin: 15px;
  border-radius: 50%;
  background-color: var(--dark-text);
}

/* ---------- RESULTS CONTAINER ---------- */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.result-info {
  font-size: calc(2.5 * (var(--font-size)));
  margin: 1rem 0;
}

.btn-play-again {
  width: 12rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--dark-text);
  border-radius: 10px;
  letter-spacing: 3px;
}

.btn-rules {
  width: 10rem;
  margin: 2rem 0 0.5rem;
  padding: 1rem;
  border: 3px var(--white) solid;
  border-radius: 10px;
  letter-spacing: 3px;
}

/* ---------- UNIVERSAL CLASSES ---------- */
.only-mobile {
  display: flex;
}

.only-desktop {
  display: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- JS USED CLASSES ---------- */
.hidden {
  display: none !important;
}

.winner {
  box-shadow: 0px 0px 20px 5px var(--white);
}

.overflow {
  overflow: hidden;
}

/* ---------- MEDIA QUERIES ---------- */
@media (min-width: 600px) {
  .duel-stage .scale {
    transform: scale(1.25);
  }
}

@media (min-width: 1024px) {
  /* ---------- MODAL WINDOW ---------- */
  .modal-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    height: 75%;
    width: auto;
    padding: 3rem;
    border-radius: 20px;
  }

  .modal-header-container {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-rules-img {
    width: auto;
    height: 80%;
  }

  .btn-close-modal {
    height: 100%;
    width: auto;
    margin: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    z-index: 5;
  }

  /* ---------- MAIN SECTION ---------- */
  main {
    height: 30rem;
    max-width: 1024px;
  }

  /* ---------- DUEL STAGE ---------- */
  .duel-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .duel-stage .scale {
    transform: scale(2);
  }

  .btn-play-again {
    margin: 0 8rem;
  }

  /* ---------- SELECTION STAGE ---------- */
  .selection-stage .scale {
    transform: scale(1.25);
  }

  .triangle-img {
    height: 15rem;
  }

  .bottom-center {
    transform: translateX(-50%) scale(1.25);
  }

  /* ---------- UNIVERSAL CLASSES ---------- */
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: flex;
  }
}
